<h2>Edit listing</h2>

<%= form_tag "/listings/#{@listing.id}", method: 'put' do %>

  <label for="">Listing: </label>
  <input type="text" name=
  "item" value="<% @listing.item %>">

  <label for="">Image: </label>
  <input type="text" name="image" value="<% @listing.image_url %>">

  <label for="">Starting Price: </label>
  <input type="text" name="start-price" value="<% @listing.start_price %>">

  <button>Update</button>

<% end %>