<h1>Index page</h1>

<% @listings.each do |listing| %>
  <p>Listing ID: <%= listing.id %></p>
  <p>Listing Start Price: $<%= listing.start_price %></p>
  <p>Listing Start Time: <%= listing.start_time %></p>
  <p>Current Price: <span class="current-price"></span></p>
  <hr>
<% end %>

<script>
  var source = new EventSource('/price_response');

  source.addEventListener("ping", function(event) {
    debuggere
    var data = JSON.parse(event.data)
    console.log(data.name)
  })
</script>