<h2>Add new item<h2>

<%= form_tag '/listings', method: 'post' do %>

  <label for="start_price">Item Start Price</label>
  <input name="start_price" type="text">
  <label for="start_time">Item Start Time</label>
  <input type="datetime-local" name="start_time" id="">
  <button type="submit">Save</button>

<% end %>