<h2>Add new item</h2>

<%= form_tag '/listings', method: 'post' do %>

  <label for="start_price">Item Start Price: </label>
  <input name="start_price" type="text">
  <br>
  <br>
  <label for="start_time">Item Start Time: </label>
  <input type="datetime-local" name="start_time" id="">
  <br>
  <br>
  <label for="image_url">Item Image URL: </label>
  <input type="text" name="image_url" id="">
  <br>
  <br>
  <button type="submit">Save</button>

<% end %>