<h2>Add new item</h2>

<div class="add-item">

<%= form_tag '/listings', method: 'post' do %>

  <label for="title">Item Title:</label>
  <input type="text" name="title">
  <br>
  <br>
  <label for="category">Category</label>
  <select name="category" id="">
    <option value="vouchers">vouchers</option>
    <option value="gift cards">gift cards</option>
    <option value="laptops">laptops</option>
    <option value="cars">cars</option>
  </select>
  <br>
  <br>
  <label for="start_price">Item Start Price: </label>
  <input name="start_price" type="text">
  <br>
  <br>
  <label for="start_time">Item Start Time: </label>
  <input type="datetime-local" name="start_time" id="">
  <br>
  <br>
  <label for="image_url">Item Image URL: </label>
  <input type="text" name="image_url" id="">
  <br>
  <br>
  <button type="submit">Save</button>

<% end %>

</div>