<h2>Signup</h2>

<div class="signup-page">

<%= form_tag '/users', method: 'post' do%>
  <label for="username">User Name: </label>
  <input name="username" type="text">
  <br>
  <br>
  <label for="email">Email Address: </label>
  <input name="email" type="text">
  <br>
  <br>
  <label for="password">Password: </label>
  <input type="password" name="password" id="">
  <br>
  <br>
  <button type="submit">Create Account</button>
<% end %>

</div>