* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: rgb(252, 251, 224);
}

.logo {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-top: -50px;
  font-family: 'Bevan', cursive;
}

.header {
  font-size: 1.2em;
  border: 1px solid black;
  padding-bottom: 5px;
  background-color: #ffed00;
}

.header-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  font-size: 24px;
}

.nav-bar.active {
  display: block;
}

.nav-bar {
  display: none;
  list-style-type: none;
}

.nav-bar li {
  text-align: center;
  margin: 15px auto;
}

.nav-links {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  margin: 20px;
}